* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins';
}

/* section {
  padding-top: 5.5rem;
} */

/* Navbar */
.navbar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar-nav a,
.navbar-extra a {
  text-decoration: none;
  color: #464545;
}

.navbar .navbar-logo {
  width: 105px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.navbar .navbar-logo .text-logo {
  color: #56b280;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar .navbar-logo a img {
  width: 35px;
}

.navbar-nav a {
  display: inline-block;
  font-weight: 550;
  font-size: 1rem;
  margin: 0 1.5rem;
}

.navbar .navbar-nav a:hover,
.navbar .navbar-extra a:hover {
  color: #56b280;
  opacity: 0.8;
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #56b280;
  transform: scaleX(0);
  transition: 0.3s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  font-size: 1.7rem;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}
/* End Navbar */

/* Start Hero */

.hero,
.content,
.hero-header,
.hero-logo,
.fill-content,
.hero-button {
  justify-content: center;
  align-items: center;
}

.hero {
  background-image: url(images/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.content {
  width: 50%;
  height: 35%;
  background: rgba(247, 248, 250, 0.8);
  text-align: center;
  backdrop-filter: blur(12px);
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
}

.hero-logo {
  display: flex;
}

.fill-logo h1 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 570;
}

.fill-logo p {
  margin: 0 4.5rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-weight: 300;
}

.fill-logo .cta {
  border-radius: 4px;
  margin-top: 2rem;
  display: inline-block;
  padding: 0.4rem 4em;
  font-size: 0.9rem;
  color: #fff;
  background-color: #56b280;
}

/* End Hero */

/* Menu Start */

.menu {
  text-align: center;
  align-items: center;
  margin-top: 4rem;
}

.menu h2,
.about-header,
.testi-header {
  font-size: 1.8rem;
  font-weight: 450;
}

.menu p,
.about-content,
.testi-text {
  font-size: 0.9rem;
  font-weight: 300;
}

.grid {
  margin: 5rem 16rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center center;
}

.grid-item {
  padding: 0 2rem;
  display: block;
  justify-content: center;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.card-img {
  padding-top: 2rem;
  width: 10rem;
}

.card-content {
  padding: 1rem;
  padding-bottom: 2rem;
}

.card-header {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.card-price {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
}

/* Menu End */

/* About Start */

.about {
  margin: 0 4rem;
  padding-top: 3rem;
  text-align: center;
}

.about-main {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  width: 23rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.icon-content {
  padding-top: 2rem;
}

.icon-header {
  padding-bottom: 1rem;
}

.icon-text {
  line-height: 1.7;
}

.about-icon {
  font-size: 2rem;
}

.logo-icon {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1.5rem;
  width: 5rem;
  height: 5rem;
  background-color: #56b280;
}
/* About End */

/* Testimonials Start */
.testimonial {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.row-testi {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 10rem;
  flex-wrap: nowrap;
}

.col-testi {
  margin: 2rem 0 2rem 0;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 2rem 3rem 0.5rem;
}

.testi-content img {
  width: 5rem;
  box-sizing: border-box;
  height: 5rem;
  border-radius: 50%;
}

.star-icon {
  padding-top: 0.5rem;
  font-size: 1rem;
}

.user-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.6rem;
  width: 12.5rem;
  height: 8rem;
}

.user-content .user-text {
  width: 17rem;
  font-size: 1.2rem;
  font-weight: 550;
  padding-top: 0.5rem;
}

.user-content .user-name {
  font-size: 0.9rem;
  font-weight: 300;
}
/* Testimonials End */

/* Footer Start */
footer {
  background-color: #272727;
  /* height: 40vh; */
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  color: #fff;
}

.footer-line {
  position: absolute;
  margin-top: 3rem;
  left: 10%;
  background-color: #fff;
  width: 80%;
  height: 1px;
  z-index: 1;
}

.footer-container {
  margin: 4rem auto;
  width: 80%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-col-logo {
  width: 48rem;
}

.footer-col {
  margin-top: 2rem;
  width: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col a {
  padding: 0.5rem;
}

.footer-logo {
  width: 17rem;
}

.footer-logo-img {
  margin-left: 0.2rem;
  margin-bottom: 1rem;
  width: 105px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo a,
.footer-col-content a {
  color: #fff;
}

.footer-logo img {
  width: 3rem;
}

.footer-col-content .footer-col-header {
  color: #56b280;
}

.footer-col-content p {
  margin-bottom: 1.2rem;
  color: #fff;
}

/* Footer End */

/* Media Queries */
/* Dekstop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar {
    position: fixed;
  }

  .navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: #56b280;
    width: 100%;
    height: 50px;
    opacity: 0;
    transition: 0.5s;
    top: 100%;
  }

  .navbar .navbar-nav a {
    color: #fff;
  }

  .navbar .navbar-nav a:hover {
    color: #fff;
  }

  .navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #fff;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    top: 100%;
    opacity: 1;
  }

  .grid {
    margin: 2rem 10rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: center center;
  }

  .row-testi,
  .about-main {
    flex-wrap: wrap;
  }

  /* footer {
    height: 50vh;
  } */
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .navbar {
    width: 100vmin;
    padding: 0 3%;
  }

  .navbar .navbar-logo a img {
    width: 20px;
  }

  .navbar .navbar-logo a {
    font-size: 0.7rem;
  }

  .navbar-nav a {
    display: inline-block;
    font-weight: 550;
    font-size: 0.8rem;
    margin: 0 0.7rem;
  }

  .grid {
    margin: 2rem 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    place-items: center center;
  }

  .footer-content {
    display: block;
  }

  footer {
    height: auto;
  }
}
